.posts{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

@media only screen and (max-width: 600px){

    .posts{
        align-items: center;
        justify-content: center;
        
        margin: 0;
    }
}